/* General styles */
body {
  background-color: #ba1818;
  font-family: "REM", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

header,
section,
footer {
  padding: 10px;
}

header {
  text-align: center;
}

header p {
  margin: 8px;
}
/* General styles */

/*Brand image*/
.brand-container {
  border-radius: 50%;
  box-shadow: -3px 2px 4px 1px rgba(255, 255, 255, 0.9);
  height: 180px;
  margin: 30px auto 0;
  overflow: hidden;
  width: 180px;
}

.brand-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
/*Brand image*/

/*Brand icons*/
nav a img {
  margin: 0;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

.icons {
  width: 35px;
}
/*Brand icons*/

/*Section - general*/
section {
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

section p {
  letter-spacing: 2px;
  margin: 0 20px;
}

/*Section list - buttons*/
.button-list {
  margin-top: 20px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 110px;
}

.button-list li {
  background-color: #ffffff;
  border: 2px solid #000;
  box-shadow: -5px 5px;
  color: #000;
  cursor: pointer;
  display: block;
  margin: 15px;
  padding: 10px;
}

.button-list li a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}
/*Section list*/

/*Footer*/
footer {
  bottom: 0;
  color: #000;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer span {
  font-size: 14px;
  padding-bottom: 5px;
}

.footer-line {
  background-color: #000;
  height: 2px;
  margin: 10px 10px;
}

.footerMicroFormats {
  display: none;
}
/*Footer*/

/* Responsive*/
/*Responsive - general*/
@media (max-width: 600px) {
  main {
    margin-bottom: 20px;
  }

  footer {
    position: static;
    padding-bottom: 5px;
  }

  footer span {
    font-size: 14px;
  }

  .footerMicroFormats {
    display: none;
  }
}

@media (width: 375px) and (height: 835px) {
  footer {
    position: fixed;
  }
}

@media (width: 425px) and (height: 835px) {
  footer {
    position: fixed;
  }
}
/*Responsive - general*/

/*iPhone XR */
@media (width: 414px) and (height: 896px) {
  footer {
    position: fixed;
    padding-bottom: 5px;
  }
}

/*iPhone 12 pro */
@media (width: 390px) and (height: 844px) {
  footer {
    position: fixed;
  }
}

/*pixel 5 */
@media (width: 393px) and (height: 851px) {
  footer {
    position: fixed;
  }
}

/*Samsung Galaxy S20 Ultra*/
@media (width: 412px) and (height: 915px) {
  footer {
    position: fixed;
    padding-bottom: 5px;
  }

  footer span {
    font-size: 14px;
  }

  .footerMicroFormats {
    display: none;
  }
}

/*Samsung Galaxy A51/71*/
@media (width: 412px) and (height: 914px) {
  footer {
    position: fixed;
  }
}

/*Nest Hub*/
@media (width: 1024px) and (height: 600px) {
  header,
  section,
  footer {
    padding: 0;
  }

  main section p {
    margin: 10px 0;
  }

  footer {
    position: fixed;
    padding-bottom: 5px;
  }

  footer span {
    font-size: 16px;
  }
}

/*Facebook for Android v407 on Pixel 6*/
@media (width: 412px) and (height: 892px) {
  section p {
    font-size: 18px;
  }

  main section ul li a {
    font-size: 18px;
  }

  footer {
    position: fixed;
    padding-bottom: 5px;
  }

  footer span {
    font-size: 18px;
  }
}
/* Responsive*/
